# Dockerignore

# Добавление файлов IDE
.idea/
.vscode/

# Добавление файлов с переменными окружения
.env

# Добавление директории виртуальной среды Python
venv/

# Добавление папки Git
.git/

# Добавление файла базы данных SQLite
db.sqlite3
